@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 95%);
  --foreground: hsl(0, 0%, 5%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);

  --breakpoint-xs: 30rem;
}

@layer components {
  /* button {
    cursor: pointer;
  } */
  a,
  button,
  [role="button"],
  input,
  textarea,
  select {
    cursor: pointer;
  }
}

@layer base {
  * {
    cursor: none;
  }
  body {
    @apply bg-background font-nunito text-foreground antialiased;
    cursor: none;
  }
}
